*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black
}

.ball{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(218, 81, 104);
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 20px auto;
    animation-name: bounce;
    animation-duration: 1.4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    0%{
        transform:translateY(10px);
    }

    100%{
        transform:translateY(500px);
       
    }
}